<div class="report-widget">
    <h3><?= $this->property('title') ?></h3>

    <?php if( $this->property('showList') ): ?>
    <ul class="list-nostyle">
        <?php foreach( $versions as $version ): ?>
        <li class="list-group-item">
            <a href="/backend/james/versions/software/update/<?= $version->software_id ?>"><?= $version->getSoftwareName(); ?></a> -
            <a href="/backend/james/versions/versions/update/<?= $version->id ?>"><?= $version->version ?></a>
        </li>
        <?php endforeach ?>
    </ul>

    <br/>
    <?php endif; ?>

    <h3>Add Version</h3>

    <form></form>
    <?= Form::open([
            'url'       => Backend::url('james/versions/versions/store'),
    'method'    => 'POST'
    ]);
    ?>
    <div class="form-group">
        <select class="form-control" name="software_id" id="" cols="30" rows="10" placeholder="Unity3D">
            <?php foreach( $software as $software_package ): ?>
            <option value="<?= $software_package->id ?>"><?= $software_package->name ?></option>
            <?php endforeach ?>
        </select>

    </div>

    <div class="form-group">
        <input class="form-control" type="text" name="version" placeholder="1.0" required />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
        <a style="float:right;" href="<?= Backend::url('james/versions/versions/index') ?>">Manage your versions</a>
    </div>

    <?= Form::close(); ?>
</div>